.loader-page {
    background-color: #252D35;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all .5s ease-out;
}

.loader-container {
    width: 600px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    z-index: 1000;
    width: 500px;
    height: 5px;
    background-color: rgba(0,0,0,0.3);
    position: relative;
}

.loader-fill {
    background-color: #C06F33;
    width: 0px;
    height: 100%;
    position: absolute;
}

.loader-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    color: #C06F33;
}

.welcome {
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 25vh;
}


#cubeloader, #frontloader, #backloader, #bottomloader, #toploader, #leftloader, #rightloader {
    height:50px;
    width:50px;
    box-sizing:border-box;
}

  
#cubeloader {
    display:flex;
    align-items:center;
    justify-content:center;
}
  
#cubeloader {
    display: flex;
    margin: 0!important;
    justify-content: center;
    align-items: center;
    height:100px;
    width:100px;
    transform-style:preserve-3d;
    transform-origin:center center;
    transform:rotateY(-20deg) rotateX(50deg) rotatez(0deg);
    animation-iteration-count:infinite;
    animation-duration:3s;
    animation-timing-function:linear;
}

#cubeloader>div{
    position:absolute;
    border:5px solid #C06F33;
}
  
#backloader {
    transform-origin:top;
    transform:rotateX(90deg) ;
    background: #ffffff;
    animation: back 1.5s cubic-bezier(0.8,0.2, 0.2, 0.8) infinite alternate;
}
  
#rightloader {
    transform-origin:right;
    transform: rotateY(90deg) rotateX(0deg) ;
    background: linear-gradient(-135deg, #ffffff 0%,#959c99 100%);
    animation: right 1.5s cubic-bezier(0.8,0.2,0.2,0.8) infinite alternate;
}
  
#leftloader {
    background:#ffffff;
    transform-origin: left;
    transform: rotateY(-90deg);
    animation: left 1.5s cubic-bezier(0.8,0.2,0.2,0.8) infinite alternate;
}
  
#toploader {
    transform:translatez(50px);
    background: linear-gradient(135deg, #ffffff 0%,#959c99 100%);
    animation: top 1.5s cubic-bezier(0.8,0.2,0.2,0.8) infinite alternate;
}  
  
#bottomloader {
    background:#ffffff;
    transform-origin:top;
    transform: translatez(0px) rotateY(0deg) rotateX(0deg);
    animation: bottom 1.5s cubic-bezier(0.8,0.2,0.2,0.8) infinite alternate;
}
  
#frontloader {
    transform-origin:bottom;
    transform:translatez(00px) rotatex(-90deg);
    background: linear-gradient(-135deg, #959c99 0%,#ffffff 100%);
    animation: front 1.5s cubic-bezier(0.8,0.2,0.2,0.8) infinite alternate;
}
  
#d1 {animation-delay:0.2s;}

#d2 {animation-delay:0.4s;}

#d3 {animation-delay:0.6s;}

@keyframes top {
  100% {
  border:0px solid #ffffff;
  transform: translatez(80px);
  }
}
  
@keyframes front {
  100% {
    border:0px solid #ffffff;
    transform:translatey(30px) rotatex(-90deg);
  }
}

@keyframes right{
  100% {    
    border:0px solid #ffffff;
    transform: rotateY(90deg) translatez(30px);
  }
}
  
@keyframes back {
    100% {
      border:0px solid #ffffff;
      transform: rotateX(90deg) translateZ(30px);
    }
}
  
@keyframes left {
    100% {
      border:0px solid transparent;
      transform: rotateY(-90deg) translatez(30px);
    }
}
  
@keyframes bottom {
    100% {
      border:5px solid #ffffff;
      transform:translatez(-30px);
    }
}
  
@keyframes dots {
    50% {color:transparent}
    100% {color:transparent}
}