section.header {
  padding-top: 10vh;
  padding-bottom: 10vh;
  color: white;
  text-align: center;
  font-size: 150%;
  width: 100vw;
  min-height: 80vh;
}

section.header h3 {
  margin: 40px auto;
}

a {
  color: #C06F33;
  text-decoration: none;
}

.bodysecret {
  span {
    margin: 3vh 0 0 3vh;
    font-family: 'Orbitron';
    position: absolute;
  }
}

.return {
  font-size: 30px;
  color: white;
}

.chica {
  width:100vw;
  height:100vh;
}