@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Orbitron:wght@400;500;600;700;800;900&display=swap");
.burger {
  height: 32px;
  position: fixed;
  top: 25px;
  right: 50px;
  z-index: 21;
}

.zindex {
  z-index: 20 !important;
}

.-zindex {
  z-index: -20 !important;
}

.burger span {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
}

.burger span, .burger span::before, .burger span::after {
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 5px;
  background-color: #ffffff;
  outline: 1px solid transparent;
  transition-property: background-color, transform;
  transition-duration: 0.3s;
}

.burger span::before, .burger span::after {
  position: absolute;
  content: "";
}

.burger span::before {
  top: -10px;
  right: 0;
  width: 20px;
}

.burger span::after {
  top: 10px;
  right: 0;
  width: 25px;
}

.overflow .burger span::before {
  top: -10px;
  left: 0;
  width: 30px;
}
.overflow .burger span::after {
  top: 10px;
  left: 0;
  width: 30px;
}

.burger.clicked span {
  background-color: transparent;
}

.burger.clicked span::before {
  transform: translateY(10px) rotate(45deg);
}

.burger.clicked span::after {
  transform: translateY(-10px) rotate(-45deg);
}

.burger.clicked span:before, .burger.clicked span:after {
  background-color: #ffffff;
}

.burger:hover {
  cursor: pointer;
}

.burgermenu-container {
  z-index: -15;
  background: #252D35;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  top: 0;
  right: 0;
  height: 100vh;
  max-width: 100vw;
  width: 100%;
  padding: 100px 40px 60px 40px;
  overflow-y: auto;
  transform: translateX(100%);
  transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.burgermenu-container li a {
  display: flex;
}
.burgermenu-container li a span {
  font-size: 20px;
  padding-right: 20px;
}
.burgermenu-container li a p {
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.burgermenu-container.show {
  transform: translateX(0px);
}

.burgermenu-container.show ul.burgermenu li {
  transform: translateX(0px);
  opacity: 1;
}

.burgermenu-container.show ul.burgermenu li:nth-child(1) {
  transition-delay: 0.3s;
}

.burgermenu-container.show ul.burgermenu li:nth-child(2) {
  transition-delay: 0.45s;
}

.burgermenu-container.show ul.burgermenu li:nth-child(3) {
  transition-delay: 0.6s;
}

.burgermenu-container.show ul.burgermenu li:nth-child(4) {
  transition-delay: 0.75s;
}

.burgermenu-container ul.burgermenu {
  list-style-type: none;
}

.burgermenu-container ul.burgermenu li {
  margin-bottom: 20px;
  transform: translateX(40px);
  opacity: 0;
  transition: all 0.3s ease;
}

.burgermenu-container ul.burgermenu li:last-of-type {
  margin-bottom: 0px;
}

.burgermenu-container ul.burgermenu li a {
  color: #fff;
  text-decoration: none;
  padding: 30px 0;
  transition: all 0.3s ease;
}

@font-face {
  font-family: "Glitch-inside";
  src: url("/fonts/Glitch-inside.woff");
  src: local("Glitch-inside"), url("/fonts/Glitch-inside.woff") format("truetype");
}
@font-face {
  font-family: "Glitch-inside";
  src: url("/fonts/Glitch-inside.woff");
  src: local("Glitch-inside"), url("/fonts/Glitch-inside.woff") format("truetype");
}
@font-face {
  font-family: "Origin-Tech";
  src: url("/fonts/OriginTech personal use.otf");
  src: local("Origin-Tech"), url("/fonts/OriginTech personal use.otf") format("truetype");
}
@font-face {
  font-family: "Origin-Tech";
  src: url("/fonts/OriginTech personal use.ttf");
  src: local("Origin-Tech"), url("/fonts/OriginTech personal use.ttf") format("truetype");
}
@font-face {
  font-family: "ObjectSans";
  src: url("/fonts/ObjectSans-Regular.otf");
  src: local("ObjectSans"), url("/fonts/ObjectSans-Regular.otf") format("truetype");
}
@font-face {
  font-family: "Exwayer-X3eqa";
  src: url("/fonts/Exwayer-X3eqa.woff");
  src: local("Exwayer-X3eqa"), url("/fonts/Exwayer-X3eqa.woff") format("truetype");
}
@font-face {
  font-family: "Exwayer-X3eqa";
  src: url("/fonts/Exwayer-X3eqa.ttf");
  src: local("Exwayer-X3eqa"), url("/fonts/Exwayer-X3eqa.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  border: none;
}

body {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 5fr 2fr;
  background-color: #252D35;
  color: #FFFFFF;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  font-family: "Orbitron", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* cursor: none; */
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
main .presentation {
  z-index: -10 !important;
}
main .presentation h2 {
  font-family: "Orbitron", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  font-size: 30px;
}
main .presentation h1 {
  text-align: center;
  font-family: "Origin-Tech", sans-serif;
  font-size: 80px;
  text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  color: #C06F33;
  z-index: -11 !important;
}
main .aboutme {
  display: grid;
  grid-template-columns: 2fr 5fr;
  margin-left: 5vw;
}
main .aboutme .abme {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 40vw;
  margin-top: 7vh;
  margin-left: 4vw;
}
main .aboutme .textme {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
main .aboutme .textme h3 {
  margin: 2vh 0 2vh 0;
}
main .aboutme .textme h4 {
  margin: 2vh 0 2vh 0;
}
main .aboutme .textme h2 {
  margin: 2vh 0 2vh 0;
}
main .aboutme .textme .skills {
  margin-top: 2vh;
}
main .aboutme .textme .skills .collaboration {
  margin-top: 2vh;
}
main .aboutme .textme .skills .collaboration a {
  text-decoration: underline;
  color: #FFFFFF;
}
main .aboutme .textme .skills img {
  width: 250px;
  height: auto;
}

.footerdec {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-column-start: 2;
  height: 10vh;
  margin-right: 20px;
}
footer span {
  font-size: 30px;
  padding: 10px;
  color: #FFFFFF;
}
footer span:hover {
  color: #C06F33;
}

header {
  width: 100%;
}
header ul {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  height: 60vh;
  margin-left: 3vw;
}
header ul .active {
  color: #C06F33;
}
header ul a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 30px;
}
header ul a:hover {
  color: #C06F33;
}
header ul .logo {
  font-family: "Origin-Tech", sans-serif;
  font-size: 80px;
  color: #C06F33;
  text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
header ul .logo:hover {
  color: #FFFFFF;
  text-shadow: 1px 0 0 #C06F33, -1px 0 0 #C06F33, 0 1px 0 #C06F33, 0 -1px 0 #C06F33, 1px 1px #C06F33, -1px -1px 0 #C06F33, 1px -1px 0 #C06F33, -1px 1px 0 #C06F33;
}

@media screen and (max-width: 992px) {
  /* mainhome */
  body {
    display: block;
    width: 100vw;
    height: 100vh;
  }

  main {
    display: flex;
    height: 90vh;
  }
  main .aboutme {
    margin-top: 3vh;
    margin-left: 5vw;
  }
  main .aboutme .textme h3 {
    font-size: 20px;
    margin: 0;
  }
  main .aboutme .textme .skills img {
    width: 150px;
    height: auto;
  }
  main .aboutme .textme .skills h4 {
    font-size: 15px;
    margin: 1vh 0 0 0;
  }
  main .aboutme .textme .me {
    width: 150px;
    height: auto;
    margin: 3vh 0;
  }
  main .aboutme .abme {
    font-size: 15px;
    margin: 0;
    width: 0vw;
    margin: 0 0 0 5vw;
    width: 45vw;
  }
  main .aboutme .abme p {
    height: 19vh;
  }
  main .presentation h1 {
    font-size: 40px;
    text-align: center;
  }
  main .presentation h2 {
    font-size: 20px;
  }
  main .container {
    margin-top: 10vh;
  }

  #accordions .accordion {
    padding: 10px;
    margin-top: 3vh;
  }

  .panel p {
    font-size: 12px;
  }
  .panel a {
    font-size: 15px;
  }
  .panel .date, .panel .collaboration {
    display: none !important;
  }
  .panel .panels {
    flex-direction: column;
  }
  .panel .panels img {
    margin-bottom: 1vh;
    width: 200px;
    height: auto;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .deskmenu {
    display: none;
  }

  header .icon {
    text-align: end;
  }
}
@media screen and (min-width: 992px) {
  .burgermenu-container, .burger {
    display: none;
  }

  .icon {
    display: none;
  }
}
@media (min-width: 1050px) {
  .burgermenu-container {
    justify-content: center;
  }
}
.safarifix {
  transform: translate3d(0, 0, 400px);
}

.safarifixpre {
  transform: translate3d(0, 0, 200px);
}

.bodycube {
  position: absolute;
  z-index: -12;
  display: flex;
  justify-content: center;
}

label, #shadows {
  position: fixed;
  top: 2vmin;
  opacity: 0.5;
}

label {
  left: 6vmin;
  color: white;
  font-weight: bold;
}

#shadows {
  left: 2vmin;
}

#shadows:not(:checked) ~ .cubes {
  --shadow-filter: none;
}

.cubes {
  width: 10vmin;
  height: 10vmin;
  transform: rotateX(60deg) rotateZ(-45deg);
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
  overflow: visible;
  transform-style: preserve-3d;
  perspective: 9000px;
}

.cube, .large-shadow {
  height: 10vmin;
  width: 10vmin;
  transform-style: preserve-3d;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
  transform-origin: center center -0.5vmin;
  position: absolute;
  top: 0;
  left: 0;
}
.cube > .cube-wrap, .large-shadow > .cube-wrap {
  -webkit-animation: cube 4s infinite both;
          animation: cube 4s infinite both;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
  transform-origin: center center -0.5vmin;
  will-change: transform;
}
@-webkit-keyframes cube {
  from, to, 20%, 60% {
    -webkit-animation-timing-function: step-start;
            animation-timing-function: step-start;
    transform: none;
  }
  40% {
    transform: rotateY(-1turn);
  }
}
@keyframes cube {
  from, to, 20%, 60% {
    -webkit-animation-timing-function: step-start;
            animation-timing-function: step-start;
    transform: none;
  }
  40% {
    transform: rotateY(-1turn);
  }
}
.cube[data-cube^="1"], .large-shadow[data-cube^="1"] {
  top: calc(-10vmin - 2px);
  --color-bg-top: #e6b48d;
  --color-bg-bottom: #d4a17a;
  --color-fl-top: #C06F33;
  --color-fl-bottom: #C06F33;
}
.cube[data-cube^="2"], .large-shadow[data-cube^="2"] {
  --color-bg-top: #e6b48d;
  --color-bg-bottom: #d4a17a;
  --color-fl-top: #C06F33;
  --color-fl-bottom: #C06F33;
}
.cube[data-cube^="3"], .large-shadow[data-cube^="3"] {
  top: calc(10vmin + 2px);
  --color-bg-top: #e6b48d;
  --color-bg-bottom: #d4a17a;
  --color-fl-top: #C06F33;
  --color-fl-bottom: #C06F33;
}
.cube[data-cube^="11"], .cube[data-cube^="21"], .cube[data-cube^="31"], .large-shadow[data-cube^="11"], .large-shadow[data-cube^="21"], .large-shadow[data-cube^="31"] {
  left: calc(-10vmin - 2px);
  --color-fr-top: #5f452d;
  --color-fr-bottom: #5f452d;
}
.cube[data-cube^="12"], .cube[data-cube^="22"], .cube[data-cube^="32"], .large-shadow[data-cube^="12"], .large-shadow[data-cube^="22"], .large-shadow[data-cube^="32"] {
  --color-fr-top: #5f452d;
  --color-fr-bottom: #5f452d;
}
.cube[data-cube^="13"], .cube[data-cube^="23"], .cube[data-cube^="33"], .large-shadow[data-cube^="13"], .large-shadow[data-cube^="23"], .large-shadow[data-cube^="33"] {
  left: calc(10vmin + 2px);
  --color-fr-top: #5f452d;
  --color-fr-bottom: #5f452d;
}
.cube[data-cube$="2"], .large-shadow[data-cube$="2"] {
  transform: translateZ(calc(10vmin + 2px));
}
.cube[data-cube$="3"], .large-shadow[data-cube$="3"] {
  transform: translateZ(calc(-10vmin - 2px));
}

.large-shadows {
  transform: translateZ(-21vmin);
}

.large-shadow {
  background: black;
  height: 10vmin;
  width: 10vmin;
  transform-origin: top right;
  -webkit-animation: large-shadow 4s infinite both;
          animation: large-shadow 4s infinite both;
  filter: var(--shadow-filter, blur(3vmin));
  opacity: 0.2;
  will-change: transform;
}
@-webkit-keyframes large-shadow {
  from, 80%, to {
    transform: scale(1.5, 3);
  }
  20% {
    transform: scale(1.5, 2);
  }
  40%, 60% {
    transform: scale(1.5, 5);
  }
  50% {
    transform: scale(1, 5);
  }
}
@keyframes large-shadow {
  from, 80%, to {
    transform: scale(1.5, 3);
  }
  20% {
    transform: scale(1.5, 2);
  }
  40%, 60% {
    transform: scale(1.5, 5);
  }
  50% {
    transform: scale(1, 5);
  }
}

[class^=cube-] {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
  top: 0;
  left: 0;
}
[class^=cube-], [class^=cube-]:before {
  will-change: transform;
  -webkit-animation: any 4s infinite both;
          animation: any 4s infinite both;
}
[class^=cube-]:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
}

.cube-top {
  -webkit-animation-name: cube-top;
          animation-name: cube-top;
  overflow: hidden;
}
.cube-top:before, .cube-top:after {
  will-change: transform;
}
.cube-top:before {
  background-image: linear-gradient(to bottom, #CBFEFF, transparent), linear-gradient(to bottom, var(--color-bg-top), var(--color-bg-bottom));
  background-size: 2px 100%, auto;
  background-repeat: no-repeat;
}
.cube-top:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #DFF4F0;
  -webkit-animation: cube-top-flash 4s infinite both;
          animation: cube-top-flash 4s infinite both;
}
@-webkit-keyframes cube-top-flash {
  from, 50%, 60%, to {
    opacity: 0;
  }
  52% {
    opacity: 0.9;
  }
}
@keyframes cube-top-flash {
  from, 50%, 60%, to {
    opacity: 0;
  }
  52% {
    opacity: 0.9;
  }
}
@-webkit-keyframes cube-top {
  20% {
    transform: translateZ(-8vmin);
  }
  40%, 60%, 80% {
    transform: none;
  }
}
@keyframes cube-top {
  20% {
    transform: translateZ(-8vmin);
  }
  40%, 60%, 80% {
    transform: none;
  }
}

.cube-front-left {
  transform-origin: left center;
  transform: rotateY(90deg);
  overflow: hidden;
}
.cube-front-left:before {
  background-image: linear-gradient(to bottom, var(--color-fl-top), var(--color-fl-bottom)), linear-gradient(to bottom, rgba(255, 255, 255, 0.5), transparent 60%);
  background-size: auto auto 1px 100%;
  background-repeat: no-repeat;
  transform-origin: right;
  -webkit-animation-name: cube-front-left;
          animation-name: cube-front-left;
  will-change: transform;
}
@-webkit-keyframes cube-front-left {
  20% {
    transform: scaleX(0.2);
  }
  40%, 60% {
    transform: translateX(-8vmin) scaleX(0.2);
  }
  80% {
    transform: none;
  }
}
@keyframes cube-front-left {
  20% {
    transform: scaleX(0.2);
  }
  40%, 60% {
    transform: translateX(-8vmin) scaleX(0.2);
  }
  80% {
    transform: none;
  }
}

.cube-front-right {
  transform-origin: bottom center;
  transform: rotateX(90deg);
}
.cube-front-right:before {
  background-image: linear-gradient(to right, var(--color-fr-top), var(--color-fr-bottom));
  transform-origin: top;
  -webkit-animation-name: cube-front-right;
          animation-name: cube-front-right;
  will-change: transform;
}
@-webkit-keyframes cube-front-right {
  20% {
    transform: scaleY(0.2);
  }
  40%, 60% {
    transform: translateY(8vmin) scaleY(0.2);
  }
  80% {
    transform: none;
  }
}
@keyframes cube-front-right {
  20% {
    transform: scaleY(0.2);
  }
  40%, 60% {
    transform: translateY(8vmin) scaleY(0.2);
  }
  80% {
    transform: none;
  }
}

.cube-bottom {
  transform: translateZ(-10vmin);
  background-image: linear-gradient(to bottom, var(--color-bg-top), var(--color-bg-bottom));
  -webkit-animation-name: cube-bottom;
          animation-name: cube-bottom;
}
@-webkit-keyframes cube-bottom {
  from, 20%, 80%, to {
    transform: translateZ(calc(-10vmin + 1px)) scale(0.95);
  }
  40%, 60% {
    transform: translateZ(-2vmin) scale(0.95);
  }
}
@keyframes cube-bottom {
  from, 20%, 80%, to {
    transform: translateZ(calc(-10vmin + 1px)) scale(0.95);
  }
  40%, 60% {
    transform: translateZ(-2vmin) scale(0.95);
  }
}
.cube-bottom:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #DFF4F0;
  -webkit-animation: cube-bottom-flash 4s infinite both;
          animation: cube-bottom-flash 4s infinite both;
  will-change: transform;
}
@-webkit-keyframes cube-bottom-flash {
  from, 40%, 50%, to {
    opacity: 0;
  }
  45% {
    opacity: 0.9;
  }
}
@keyframes cube-bottom-flash {
  from, 40%, 50%, to {
    opacity: 0;
  }
  45% {
    opacity: 0.9;
  }
}

[class^=shadow] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  filter: var(--shadow-filter, blur(20px));
}
[class^=shadow], [class^=shadow]:before {
  will-change: transform;
}
[class^=shadow]:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #214354;
  opacity: 0.7;
}

.shadow-y {
  -webkit-animation: shadow-y 4s infinite both;
          animation: shadow-y 4s infinite both;
}
.shadow-y[data-cube^="11"], .shadow-y[data-cube^="21"] {
  left: 10%;
}
.shadow-y[data-cube^="13"], .shadow-y[data-cube^="23"] {
  left: -10%;
}
@-webkit-keyframes shadow-y {
  to, 40%, 60%, 80%, from {
    transform: translateY(-100%) scale(2, 0.75);
  }
  20% {
    transform: scale(2, 1);
  }
}
@keyframes shadow-y {
  to, 40%, 60%, 80%, from {
    transform: translateY(-100%) scale(2, 0.75);
  }
  20% {
    transform: scale(2, 1);
  }
}
.shadow-y:before {
  -webkit-animation: shadow-y-inverse 4s infinite both;
          animation: shadow-y-inverse 4s infinite both;
  transform-origin: top center;
}
@-webkit-keyframes shadow-y-inverse {
  to, 40%, 60%, 80%, from {
    opacity: 0.9;
    transform: scale(2, 1);
  }
  20% {
    opacity: 0;
    transform: translateY(-100%) scale(2, 0.75);
  }
}
@keyframes shadow-y-inverse {
  to, 40%, 60%, 80%, from {
    opacity: 0.9;
    transform: scale(2, 1);
  }
  20% {
    opacity: 0;
    transform: translateY(-100%) scale(2, 0.75);
  }
}

.shadow-flip {
  width: 2vmin;
  height: 50%;
  top: -1vmin;
  left: calc(50% - 1vmin);
  transform-origin: top center;
  filter: var(--shadow-filter, blur(1vmin));
  -webkit-animation: shadow-flip 4s infinite both;
          animation: shadow-flip 4s infinite both;
  overflow: visible;
}
@-webkit-keyframes shadow-flip {
  from, 20%, 40%, 50%, to {
    transform: rotate(90deg);
  }
  45% {
    transform: rotate(270deg);
  }
}
@keyframes shadow-flip {
  from, 20%, 40%, 50%, to {
    transform: rotate(90deg);
  }
  45% {
    transform: rotate(270deg);
  }
}
.shadow-flip:before {
  -webkit-animation: shadow-flip-inverse 4s infinite both;
          animation: shadow-flip-inverse 4s infinite both;
  transform-origin: top center;
  opacity: 0;
}
@-webkit-keyframes shadow-flip-inverse {
  from, 20%, 40%, 50%, to {
    transform: rotate(0deg);
    opacity: 0;
  }
  45% {
    transform: rotate(-180deg);
    opacity: 0.6;
  }
}
@keyframes shadow-flip-inverse {
  from, 20%, 40%, 50%, to {
    transform: rotate(0deg);
    opacity: 0;
  }
  45% {
    transform: rotate(-180deg);
    opacity: 0.6;
  }
}

.shadow-z {
  -webkit-animation: shadow-z 4s infinite both;
          animation: shadow-z 4s infinite both;
  overflow: visible;
  will-change: transform;
  transform-origin: top center;
}
.shadow-z[data-cube^="11"] {
  --shadow-z-left: 50%;
  --shadow-z-top: 50%;
}
.shadow-z[data-cube^="21"], .shadow-z[data-cube^="31"] {
  --shadow-z-left: 50%;
  --shadow-z-top: 0;
}
.shadow-z[data-cube^="32"] {
  --shadow-z-left: 0;
  --shadow-z-top: 0;
  --shadow-x-scale: 2;
}
.shadow-z[data-cube^="33"] {
  --shadow-z-left: -50%;
  --shadow-z-top: 0;
}
@-webkit-keyframes shadow-z {
  from, 40%, 60%, 80%, to {
    transform: scale(var(--shadow-x-scale), 2);
  }
  20% {
    transform: translateX(var(--shadow-z-left)) translateY(var(--shadow-z-top)) scale(calc(var(--shadow-x-scale, 1) / 2), 2);
  }
}
@keyframes shadow-z {
  from, 40%, 60%, 80%, to {
    transform: scale(var(--shadow-x-scale), 2);
  }
  20% {
    transform: translateX(var(--shadow-z-left)) translateY(var(--shadow-z-top)) scale(calc(var(--shadow-x-scale, 1) / 2), 2);
  }
}
.shadow-z:before {
  -webkit-animation: shadow-z-inverse 4s infinite both;
          animation: shadow-z-inverse 4s infinite both;
}
@-webkit-keyframes shadow-z-inverse {
  40%, 60% {
    transform: translateX(var(--shadow-z-left)) translateY(var(--shadow-z-top)) scale(var(--shadow-x-scale, 1), 2);
  }
  45% {
    opacity: 0;
  }
  from, 40%, 55% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
  from, 20%, 80%, to {
    transform: scale(2);
  }
}
@keyframes shadow-z-inverse {
  40%, 60% {
    transform: translateX(var(--shadow-z-left)) translateY(var(--shadow-z-top)) scale(var(--shadow-x-scale, 1), 2);
  }
  45% {
    opacity: 0;
  }
  from, 40%, 55% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
  from, 20%, 80%, to {
    transform: scale(2);
  }
}

.cube[data-cube="111"] > .cube-wrap, .cube[data-cube="111"] > .cube-wrap:before, .cube[data-cube="111"] > .cube-wrap:after, .cube[data-cube="111"] > .cube-wrap > [class^=cube-], .cube[data-cube="111"] > .cube-wrap > [class^=cube-]:before, .cube[data-cube="111"] > .cube-wrap > [class^=cube-]:after {
  -webkit-animation-delay: 242ms;
          animation-delay: 242ms;
}
.cube[data-cube="111"] > .cube-wrap [class^=shadow-] {
  -webkit-animation-delay: 242ms;
          animation-delay: 242ms;
}

[class^=shadow-][data-cube="111"]:before,
.large-shadow[data-cube="111"] {
  -webkit-animation-delay: 242ms;
          animation-delay: 242ms;
}

.cube[data-cube="112"] > .cube-wrap, .cube[data-cube="112"] > .cube-wrap:before, .cube[data-cube="112"] > .cube-wrap:after, .cube[data-cube="112"] > .cube-wrap > [class^=cube-], .cube[data-cube="112"] > .cube-wrap > [class^=cube-]:before, .cube[data-cube="112"] > .cube-wrap > [class^=cube-]:after {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
.cube[data-cube="112"] > .cube-wrap [class^=shadow-] {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

[class^=shadow-][data-cube="112"]:before,
.large-shadow[data-cube="112"] {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.cube[data-cube="113"] > .cube-wrap, .cube[data-cube="113"] > .cube-wrap:before, .cube[data-cube="113"] > .cube-wrap:after, .cube[data-cube="113"] > .cube-wrap > [class^=cube-], .cube[data-cube="113"] > .cube-wrap > [class^=cube-]:before, .cube[data-cube="113"] > .cube-wrap > [class^=cube-]:after {
  -webkit-animation-delay: 91ms;
          animation-delay: 91ms;
}
.cube[data-cube="113"] > .cube-wrap [class^=shadow-] {
  -webkit-animation-delay: 91ms;
          animation-delay: 91ms;
}

[class^=shadow-][data-cube="113"]:before,
.large-shadow[data-cube="113"] {
  -webkit-animation-delay: 91ms;
          animation-delay: 91ms;
}

.cube[data-cube="121"] > .cube-wrap, .cube[data-cube="121"] > .cube-wrap:before, .cube[data-cube="121"] > .cube-wrap:after, .cube[data-cube="121"] > .cube-wrap > [class^=cube-], .cube[data-cube="121"] > .cube-wrap > [class^=cube-]:before, .cube[data-cube="121"] > .cube-wrap > [class^=cube-]:after {
  -webkit-animation-delay: 47ms;
          animation-delay: 47ms;
}
.cube[data-cube="121"] > .cube-wrap [class^=shadow-] {
  -webkit-animation-delay: 47ms;
          animation-delay: 47ms;
}

[class^=shadow-][data-cube="121"]:before,
.large-shadow[data-cube="121"] {
  -webkit-animation-delay: 47ms;
          animation-delay: 47ms;
}

.cube[data-cube="122"] > .cube-wrap, .cube[data-cube="122"] > .cube-wrap:before, .cube[data-cube="122"] > .cube-wrap:after, .cube[data-cube="122"] > .cube-wrap > [class^=cube-], .cube[data-cube="122"] > .cube-wrap > [class^=cube-]:before, .cube[data-cube="122"] > .cube-wrap > [class^=cube-]:after {
  -webkit-animation-delay: 136ms;
          animation-delay: 136ms;
}
.cube[data-cube="122"] > .cube-wrap [class^=shadow-] {
  -webkit-animation-delay: 136ms;
          animation-delay: 136ms;
}

[class^=shadow-][data-cube="122"]:before,
.large-shadow[data-cube="122"] {
  -webkit-animation-delay: 136ms;
          animation-delay: 136ms;
}

.cube[data-cube="123"] > .cube-wrap, .cube[data-cube="123"] > .cube-wrap:before, .cube[data-cube="123"] > .cube-wrap:after, .cube[data-cube="123"] > .cube-wrap > [class^=cube-], .cube[data-cube="123"] > .cube-wrap > [class^=cube-]:before, .cube[data-cube="123"] > .cube-wrap > [class^=cube-]:after {
  -webkit-animation-delay: 224ms;
          animation-delay: 224ms;
}
.cube[data-cube="123"] > .cube-wrap [class^=shadow-] {
  -webkit-animation-delay: 224ms;
          animation-delay: 224ms;
}

[class^=shadow-][data-cube="123"]:before,
.large-shadow[data-cube="123"] {
  -webkit-animation-delay: 224ms;
          animation-delay: 224ms;
}

.cube[data-cube="131"] > .cube-wrap, .cube[data-cube="131"] > .cube-wrap:before, .cube[data-cube="131"] > .cube-wrap:after, .cube[data-cube="131"] > .cube-wrap > [class^=cube-], .cube[data-cube="131"] > .cube-wrap > [class^=cube-]:before, .cube[data-cube="131"] > .cube-wrap > [class^=cube-]:after {
  -webkit-animation-delay: 292ms;
          animation-delay: 292ms;
}
.cube[data-cube="131"] > .cube-wrap [class^=shadow-] {
  -webkit-animation-delay: 292ms;
          animation-delay: 292ms;
}

[class^=shadow-][data-cube="131"]:before,
.large-shadow[data-cube="131"] {
  -webkit-animation-delay: 292ms;
          animation-delay: 292ms;
}

.cube[data-cube="132"] > .cube-wrap, .cube[data-cube="132"] > .cube-wrap:before, .cube[data-cube="132"] > .cube-wrap:after, .cube[data-cube="132"] > .cube-wrap > [class^=cube-], .cube[data-cube="132"] > .cube-wrap > [class^=cube-]:before, .cube[data-cube="132"] > .cube-wrap > [class^=cube-]:after {
  -webkit-animation-delay: 227ms;
          animation-delay: 227ms;
}
.cube[data-cube="132"] > .cube-wrap [class^=shadow-] {
  -webkit-animation-delay: 227ms;
          animation-delay: 227ms;
}

[class^=shadow-][data-cube="132"]:before,
.large-shadow[data-cube="132"] {
  -webkit-animation-delay: 227ms;
          animation-delay: 227ms;
}

.cube[data-cube="133"] > .cube-wrap, .cube[data-cube="133"] > .cube-wrap:before, .cube[data-cube="133"] > .cube-wrap:after, .cube[data-cube="133"] > .cube-wrap > [class^=cube-], .cube[data-cube="133"] > .cube-wrap > [class^=cube-]:before, .cube[data-cube="133"] > .cube-wrap > [class^=cube-]:after {
  -webkit-animation-delay: 224ms;
          animation-delay: 224ms;
}
.cube[data-cube="133"] > .cube-wrap [class^=shadow-] {
  -webkit-animation-delay: 224ms;
          animation-delay: 224ms;
}

[class^=shadow-][data-cube="133"]:before,
.large-shadow[data-cube="133"] {
  -webkit-animation-delay: 224ms;
          animation-delay: 224ms;
}

.cube[data-cube="211"] > .cube-wrap, .cube[data-cube="211"] > .cube-wrap:before, .cube[data-cube="211"] > .cube-wrap:after, .cube[data-cube="211"] > .cube-wrap > [class^=cube-], .cube[data-cube="211"] > .cube-wrap > [class^=cube-]:before, .cube[data-cube="211"] > .cube-wrap > [class^=cube-]:after {
  -webkit-animation-delay: 109ms;
          animation-delay: 109ms;
}
.cube[data-cube="211"] > .cube-wrap [class^=shadow-] {
  -webkit-animation-delay: 109ms;
          animation-delay: 109ms;
}

[class^=shadow-][data-cube="211"]:before,
.large-shadow[data-cube="211"] {
  -webkit-animation-delay: 109ms;
          animation-delay: 109ms;
}

.cube[data-cube="212"] > .cube-wrap, .cube[data-cube="212"] > .cube-wrap:before, .cube[data-cube="212"] > .cube-wrap:after, .cube[data-cube="212"] > .cube-wrap > [class^=cube-], .cube[data-cube="212"] > .cube-wrap > [class^=cube-]:before, .cube[data-cube="212"] > .cube-wrap > [class^=cube-]:after {
  -webkit-animation-delay: 89ms;
          animation-delay: 89ms;
}
.cube[data-cube="212"] > .cube-wrap [class^=shadow-] {
  -webkit-animation-delay: 89ms;
          animation-delay: 89ms;
}

[class^=shadow-][data-cube="212"]:before,
.large-shadow[data-cube="212"] {
  -webkit-animation-delay: 89ms;
          animation-delay: 89ms;
}

.cube[data-cube="213"] > .cube-wrap, .cube[data-cube="213"] > .cube-wrap:before, .cube[data-cube="213"] > .cube-wrap:after, .cube[data-cube="213"] > .cube-wrap > [class^=cube-], .cube[data-cube="213"] > .cube-wrap > [class^=cube-]:before, .cube[data-cube="213"] > .cube-wrap > [class^=cube-]:after {
  -webkit-animation-delay: 34ms;
          animation-delay: 34ms;
}
.cube[data-cube="213"] > .cube-wrap [class^=shadow-] {
  -webkit-animation-delay: 34ms;
          animation-delay: 34ms;
}

[class^=shadow-][data-cube="213"]:before,
.large-shadow[data-cube="213"] {
  -webkit-animation-delay: 34ms;
          animation-delay: 34ms;
}

.cube[data-cube="221"] > .cube-wrap, .cube[data-cube="221"] > .cube-wrap:before, .cube[data-cube="221"] > .cube-wrap:after, .cube[data-cube="221"] > .cube-wrap > [class^=cube-], .cube[data-cube="221"] > .cube-wrap > [class^=cube-]:before, .cube[data-cube="221"] > .cube-wrap > [class^=cube-]:after {
  -webkit-animation-delay: 228ms;
          animation-delay: 228ms;
}
.cube[data-cube="221"] > .cube-wrap [class^=shadow-] {
  -webkit-animation-delay: 228ms;
          animation-delay: 228ms;
}

[class^=shadow-][data-cube="221"]:before,
.large-shadow[data-cube="221"] {
  -webkit-animation-delay: 228ms;
          animation-delay: 228ms;
}

.cube[data-cube="222"] > .cube-wrap, .cube[data-cube="222"] > .cube-wrap:before, .cube[data-cube="222"] > .cube-wrap:after, .cube[data-cube="222"] > .cube-wrap > [class^=cube-], .cube[data-cube="222"] > .cube-wrap > [class^=cube-]:before, .cube[data-cube="222"] > .cube-wrap > [class^=cube-]:after {
  -webkit-animation-delay: 295ms;
          animation-delay: 295ms;
}
.cube[data-cube="222"] > .cube-wrap [class^=shadow-] {
  -webkit-animation-delay: 295ms;
          animation-delay: 295ms;
}

[class^=shadow-][data-cube="222"]:before,
.large-shadow[data-cube="222"] {
  -webkit-animation-delay: 295ms;
          animation-delay: 295ms;
}

.cube[data-cube="223"] > .cube-wrap, .cube[data-cube="223"] > .cube-wrap:before, .cube[data-cube="223"] > .cube-wrap:after, .cube[data-cube="223"] > .cube-wrap > [class^=cube-], .cube[data-cube="223"] > .cube-wrap > [class^=cube-]:before, .cube[data-cube="223"] > .cube-wrap > [class^=cube-]:after {
  -webkit-animation-delay: 98ms;
          animation-delay: 98ms;
}
.cube[data-cube="223"] > .cube-wrap [class^=shadow-] {
  -webkit-animation-delay: 98ms;
          animation-delay: 98ms;
}

[class^=shadow-][data-cube="223"]:before,
.large-shadow[data-cube="223"] {
  -webkit-animation-delay: 98ms;
          animation-delay: 98ms;
}

.cube[data-cube="231"] > .cube-wrap, .cube[data-cube="231"] > .cube-wrap:before, .cube[data-cube="231"] > .cube-wrap:after, .cube[data-cube="231"] > .cube-wrap > [class^=cube-], .cube[data-cube="231"] > .cube-wrap > [class^=cube-]:before, .cube[data-cube="231"] > .cube-wrap > [class^=cube-]:after {
  -webkit-animation-delay: 59ms;
          animation-delay: 59ms;
}
.cube[data-cube="231"] > .cube-wrap [class^=shadow-] {
  -webkit-animation-delay: 59ms;
          animation-delay: 59ms;
}

[class^=shadow-][data-cube="231"]:before,
.large-shadow[data-cube="231"] {
  -webkit-animation-delay: 59ms;
          animation-delay: 59ms;
}

.cube[data-cube="232"] > .cube-wrap, .cube[data-cube="232"] > .cube-wrap:before, .cube[data-cube="232"] > .cube-wrap:after, .cube[data-cube="232"] > .cube-wrap > [class^=cube-], .cube[data-cube="232"] > .cube-wrap > [class^=cube-]:before, .cube[data-cube="232"] > .cube-wrap > [class^=cube-]:after {
  -webkit-animation-delay: 18ms;
          animation-delay: 18ms;
}
.cube[data-cube="232"] > .cube-wrap [class^=shadow-] {
  -webkit-animation-delay: 18ms;
          animation-delay: 18ms;
}

[class^=shadow-][data-cube="232"]:before,
.large-shadow[data-cube="232"] {
  -webkit-animation-delay: 18ms;
          animation-delay: 18ms;
}

.cube[data-cube="233"] > .cube-wrap, .cube[data-cube="233"] > .cube-wrap:before, .cube[data-cube="233"] > .cube-wrap:after, .cube[data-cube="233"] > .cube-wrap > [class^=cube-], .cube[data-cube="233"] > .cube-wrap > [class^=cube-]:before, .cube[data-cube="233"] > .cube-wrap > [class^=cube-]:after {
  -webkit-animation-delay: 36ms;
          animation-delay: 36ms;
}
.cube[data-cube="233"] > .cube-wrap [class^=shadow-] {
  -webkit-animation-delay: 36ms;
          animation-delay: 36ms;
}

[class^=shadow-][data-cube="233"]:before,
.large-shadow[data-cube="233"] {
  -webkit-animation-delay: 36ms;
          animation-delay: 36ms;
}

.cube[data-cube="311"] > .cube-wrap, .cube[data-cube="311"] > .cube-wrap:before, .cube[data-cube="311"] > .cube-wrap:after, .cube[data-cube="311"] > .cube-wrap > [class^=cube-], .cube[data-cube="311"] > .cube-wrap > [class^=cube-]:before, .cube[data-cube="311"] > .cube-wrap > [class^=cube-]:after {
  -webkit-animation-delay: 17ms;
          animation-delay: 17ms;
}
.cube[data-cube="311"] > .cube-wrap [class^=shadow-] {
  -webkit-animation-delay: 17ms;
          animation-delay: 17ms;
}

[class^=shadow-][data-cube="311"]:before,
.large-shadow[data-cube="311"] {
  -webkit-animation-delay: 17ms;
          animation-delay: 17ms;
}

.cube[data-cube="312"] > .cube-wrap, .cube[data-cube="312"] > .cube-wrap:before, .cube[data-cube="312"] > .cube-wrap:after, .cube[data-cube="312"] > .cube-wrap > [class^=cube-], .cube[data-cube="312"] > .cube-wrap > [class^=cube-]:before, .cube[data-cube="312"] > .cube-wrap > [class^=cube-]:after {
  -webkit-animation-delay: 162ms;
          animation-delay: 162ms;
}
.cube[data-cube="312"] > .cube-wrap [class^=shadow-] {
  -webkit-animation-delay: 162ms;
          animation-delay: 162ms;
}

[class^=shadow-][data-cube="312"]:before,
.large-shadow[data-cube="312"] {
  -webkit-animation-delay: 162ms;
          animation-delay: 162ms;
}

.cube[data-cube="313"] > .cube-wrap, .cube[data-cube="313"] > .cube-wrap:before, .cube[data-cube="313"] > .cube-wrap:after, .cube[data-cube="313"] > .cube-wrap > [class^=cube-], .cube[data-cube="313"] > .cube-wrap > [class^=cube-]:before, .cube[data-cube="313"] > .cube-wrap > [class^=cube-]:after {
  -webkit-animation-delay: 129ms;
          animation-delay: 129ms;
}
.cube[data-cube="313"] > .cube-wrap [class^=shadow-] {
  -webkit-animation-delay: 129ms;
          animation-delay: 129ms;
}

[class^=shadow-][data-cube="313"]:before,
.large-shadow[data-cube="313"] {
  -webkit-animation-delay: 129ms;
          animation-delay: 129ms;
}

.cube[data-cube="321"] > .cube-wrap, .cube[data-cube="321"] > .cube-wrap:before, .cube[data-cube="321"] > .cube-wrap:after, .cube[data-cube="321"] > .cube-wrap > [class^=cube-], .cube[data-cube="321"] > .cube-wrap > [class^=cube-]:before, .cube[data-cube="321"] > .cube-wrap > [class^=cube-]:after {
  -webkit-animation-delay: 41ms;
          animation-delay: 41ms;
}
.cube[data-cube="321"] > .cube-wrap [class^=shadow-] {
  -webkit-animation-delay: 41ms;
          animation-delay: 41ms;
}

[class^=shadow-][data-cube="321"]:before,
.large-shadow[data-cube="321"] {
  -webkit-animation-delay: 41ms;
          animation-delay: 41ms;
}

.cube[data-cube="322"] > .cube-wrap, .cube[data-cube="322"] > .cube-wrap:before, .cube[data-cube="322"] > .cube-wrap:after, .cube[data-cube="322"] > .cube-wrap > [class^=cube-], .cube[data-cube="322"] > .cube-wrap > [class^=cube-]:before, .cube[data-cube="322"] > .cube-wrap > [class^=cube-]:after {
  -webkit-animation-delay: 245ms;
          animation-delay: 245ms;
}
.cube[data-cube="322"] > .cube-wrap [class^=shadow-] {
  -webkit-animation-delay: 245ms;
          animation-delay: 245ms;
}

[class^=shadow-][data-cube="322"]:before,
.large-shadow[data-cube="322"] {
  -webkit-animation-delay: 245ms;
          animation-delay: 245ms;
}

.cube[data-cube="323"] > .cube-wrap, .cube[data-cube="323"] > .cube-wrap:before, .cube[data-cube="323"] > .cube-wrap:after, .cube[data-cube="323"] > .cube-wrap > [class^=cube-], .cube[data-cube="323"] > .cube-wrap > [class^=cube-]:before, .cube[data-cube="323"] > .cube-wrap > [class^=cube-]:after {
  -webkit-animation-delay: 88ms;
          animation-delay: 88ms;
}
.cube[data-cube="323"] > .cube-wrap [class^=shadow-] {
  -webkit-animation-delay: 88ms;
          animation-delay: 88ms;
}

[class^=shadow-][data-cube="323"]:before,
.large-shadow[data-cube="323"] {
  -webkit-animation-delay: 88ms;
          animation-delay: 88ms;
}

.cube[data-cube="331"] > .cube-wrap, .cube[data-cube="331"] > .cube-wrap:before, .cube[data-cube="331"] > .cube-wrap:after, .cube[data-cube="331"] > .cube-wrap > [class^=cube-], .cube[data-cube="331"] > .cube-wrap > [class^=cube-]:before, .cube[data-cube="331"] > .cube-wrap > [class^=cube-]:after {
  -webkit-animation-delay: 148ms;
          animation-delay: 148ms;
}
.cube[data-cube="331"] > .cube-wrap [class^=shadow-] {
  -webkit-animation-delay: 148ms;
          animation-delay: 148ms;
}

[class^=shadow-][data-cube="331"]:before,
.large-shadow[data-cube="331"] {
  -webkit-animation-delay: 148ms;
          animation-delay: 148ms;
}

.cube[data-cube="332"] > .cube-wrap, .cube[data-cube="332"] > .cube-wrap:before, .cube[data-cube="332"] > .cube-wrap:after, .cube[data-cube="332"] > .cube-wrap > [class^=cube-], .cube[data-cube="332"] > .cube-wrap > [class^=cube-]:before, .cube[data-cube="332"] > .cube-wrap > [class^=cube-]:after {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}
.cube[data-cube="332"] > .cube-wrap [class^=shadow-] {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

[class^=shadow-][data-cube="332"]:before,
.large-shadow[data-cube="332"] {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.cube[data-cube="333"] > .cube-wrap, .cube[data-cube="333"] > .cube-wrap:before, .cube[data-cube="333"] > .cube-wrap:after, .cube[data-cube="333"] > .cube-wrap > [class^=cube-], .cube[data-cube="333"] > .cube-wrap > [class^=cube-]:before, .cube[data-cube="333"] > .cube-wrap > [class^=cube-]:after {
  -webkit-animation-delay: 63ms;
          animation-delay: 63ms;
}
.cube[data-cube="333"] > .cube-wrap [class^=shadow-] {
  -webkit-animation-delay: 63ms;
          animation-delay: 63ms;
}

[class^=shadow-][data-cube="333"]:before,
.large-shadow[data-cube="333"] {
  -webkit-animation-delay: 63ms;
          animation-delay: 63ms;
}

/* #accordions {
    grid-column-start: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 10vh;
    overflow: scroll;
} */
#accordions {
  overflow: scroll;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 700px;
  padding-bottom: 10px;
}

/* #accordions {
    z-index: -10 !important;
} */
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  background-color: #252D35;
  color: #FFFFFF;
  cursor: pointer;
  padding: 25px;
  width: 70vw;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-top: 5vh;
  font-family: "Orbitron", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.actives, .accordion:hover {
  background-color: #ccc;
  color: #C06F33;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  background-color: #252D35;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  display: none;
  width: 70vw;
  padding: 20px;
  height: 40vh;
}
.panel p {
  margin-left: 20px;
}
.panel a {
  margin-top: 10px;
  align-self: flex-end;
  color: #FFFFFF;
  font-size: 15px;
  display: flex;
  justify-content: flex-end;
}
.panel .collaboration {
  font-size: 15px;
  margin: 2vh 0 0 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18vw;
}
.panel .date {
  font-size: 15px;
  margin: 2vh 0 0 0;
  padding: 0;
  width: 18vw;
}

.panels {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  z-index: 1;
}
section .title {
  display: block;
  text-align: left;
  background: #323A45;
  color: white;
  margin: 0;
  padding: 3vh;
  font-weight: normal;
  border-radius: 5px 5px 0 0;
}

form {
  width: 70vw;
  border-radius: 0 0 5px 5px;
  border-top: none;
  background: #fff;
}
form ul li:not(:last-child) {
  display: block;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1em;
}
form ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
form li {
  position: relative;
}

label {
  display: block;
  font-size: 0.8125em;
  /* 13/16 */
  position: absolute;
  top: 1.6em;
  left: 1.4em;
  color: #C06F33;
  opacity: 1;
  transition: top 0.4s ease, opacity 0.6s ease, color 0.4s ease;
}

input, textarea {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
  outline: none;
  padding: 2.25em 1em 1em;
  font-size: 1.2em;
  font-family: "Orbitron", sans-serif;
}

textarea {
  height: 16em;
  resize: none;
  font-size: 1.2em;
  font-family: "Orbitron", sans-serif;
  padding-left: 0.85em;
}

input[type=submit] {
  display: block;
  background: #C06F33;
  padding: 1em;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Orbitron", sans-serif;
}

.js-hide-label label {
  opacity: 0;
  top: 1.8em;
}

.js-unhighlight-label label {
  color: #333;
}

.js-highlight-label label {
  color: #C06F33;
}/*# sourceMappingURL=style.css.map */