.main {
    height: 90vh;
    width: 90vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;
    background-image: url(../../img/decoration-1.png);
    background-size: 55vw 75vh;
    position: center;
    background-repeat: no-repeat;
    background-position: bottom right;
    .textab {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        ::-webkit-scrollbar {
            display: none;
        }
        .me {
            margin: 0 35vw 40vh 0;
            width: 13vw;
            height: 25vh;
        }
        p {
            overflow: scroll;
            height: 24vh;
            width: 30vw;
            z-index: 10000;
            position: absolute;
            margin-bottom: 40vh;
            margin-right: 3vw;
            font-size: 18px;
        }
    }
}
.skills {
    position: absolute;
    overflow: scroll;
    height: 28vh;
    z-index: 10000;
    margin-bottom: 10vh;
    margin-right: 23vw;
    img {
        height: 40vh;
        width: 25vw;
    }
}

.worksbg {
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;
    background-image: url(../../img/decoration-3.png);
    background-size: 70vw 80vh;
    position: right;
    background-repeat: no-repeat;
    background-position: bottom right;
    ::-webkit-scrollbar {
        display: none;
    }
    .cardcontainer {
        display: flex;
        flex-direction: row;
        width: 60vw;
        overflow: scroll;
        position: absolute;
        z-index: 10000;
        .card {
            display: flex;
            flex-direction: column;
            width: 20vw;
            margin: 0 3vw 15vh 0;
            img {
                width: 15vw;
                height: auto;
            }
        }
    }
}