.mobile-container {
    max-width: 100%;
    margin: auto;
    height: 100vh;
    color: white;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.topnav {
    overflow: hidden;
    display: flex;
    align-items: center;
}

.topnav #myLinks {
    align-self: center;
    background-color: #252D35;
    background-size: 100vw 100vh;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    margin-top: 66vh;
}
  
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    text-align: center;
    z-index: 2;
}
  
.topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}