main {
    display: flex;
    align-items: center;
    height: 100vh;
    .homecontainer {
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
            font-family: 'Exwayer-X3eqa', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 80px;
            font-weight: normal;
            text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
            color: #C06F33;
            letter-spacing: 5px;
        }
        .job {
            text-align: center;
            color: #C06F33;
            font-size: 24px;
            font-weight: normal;
        }
        .presentation {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100vw;
        }
    }
}