/* menu-desktop */
.menu1 {
    position: relative !important;
}
.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    width:100vw;
    position: absolute;
        .menu2 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 60vh;
        width:100%;
        position: absolute;
    }
    .logo {
        font-family: 'origin tech demo', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 80px;
        text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
        color: #C06F33 !important;
        &:hover {
            color: #FFFFFF;
            text-shadow: 1px 0 0 #C06F33, -1px 0 0 #C06F33, 0 1px 0 #C06F33, 0 -1px 0 #C06F33, 1px 1px #C06F33, -1px -1px 0 #C06F33, 1px -1px 0 #C06F33, -1px 1px 0 #C06F33;
        }
    }
    .active {
        color: #C06F33;
        text-decoration: underline;
    }
    .container-cyber2 {
        height: 100vh;
        position: absolute;
        display: flex;
        align-items: flex-end;
    }
    .container-cyber2 {
        img {
            padding: 0 2vw;
            width: 20vw;
            height: 55vh;
        }
    }
    .voice, .logo {
        width: 15vw;
        text-decoration: none;
        color: #ffffff;
        padding-left: 2vw;
        z-index: 1000;
        &:hover {
            color: #C06F33;
        }
    }
    .voice {
        &:hover {
            text-decoration: underline;
        }
    }
}