/* menu-desktop */
.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    width:100%;
    position: absolute;
    .logo {
        font-family: 'Exwayer-X3eqa', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 80px;
        text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
        color: #C06F33;
        &:hover {
            color: #FFFFFF;
            text-shadow: 1px 0 0 #C06F33, -1px 0 0 #C06F33, 0 1px 0 #C06F33, 0 -1px 0 #C06F33, 1px 1px #C06F33, -1px -1px 0 #C06F33, 1px -1px 0 #C06F33, -1px 1px 0 #C06F33;
        }
    }
    .active {
        color: #C06F33;
    }
    a {
        width: 15vw;
        text-decoration: none;
        color: #ffffff;
        padding-left: 2vw;
        &:hover {
            color: #C06F33;
        }
    }
}