.footer {  
    position: absolute;
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: flex-end;
    align-items: flex-end;
    .socialbar {
        span {
            margin: 0 2rem 2rem 0;
            &:hover {
                color: #C06F33;
            }
        }
    }
}
